body{
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
}
/* navbar start */
.navbar{
    width: 100vw;
}
.fa-brands{
    margin-left: 10px;
    color: black;
    
}
/* navbar end */

/* slide-content start */
.slide{
    font-family: 'Nunito', sans-serif;
    margin-top: 60px;
}
.title-name h1{
   margin-top: 40px;
}
.h1-text{
    font-size: 40px;
}
.span-color{
    color: coral;
}
.btn-outline-danger{
    width: 120px;
    color: rgb(255, 255, 255);
    background-color: rgb(223, 78, 78);
}
.btn-outline-danger:hover{
    color: rgb(226, 40, 40);
    background-color: rgb(255, 248, 240);
}
/* slide-content end*/

/* about start */
.about{
    font-size: 45px;
}
.line{
   border: 1px solid rgb(211, 58, 58);
   width: 190px;
   margin-bottom: 40px;
}
.hello{
    color: crimson;
}
.about-sec{
    margin-top: 80px;
}
.line-div{
    border: 3px solid rgb(53, 158, 199);
    border-radius: 8px;
    padding: 8px 9px 50px 8px;
}

.fa-address-card{
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}
@-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
  }
  
  @keyframes sk-rotateplane {
    0% { 
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }
/* about end */

/* data-aos="flip-up" data-aos-duration="2000" */



